.card-container {
    max-width: 450px;
    padding: 20px;
    background-color: #C1EFFF;
    border-radius: 10px;
    margin: 0 10vw 8vh 10vw;
}

.name-card,
.text {
    word-wrap: break-word;
}

.text {
    margin-top: 3vh;
    line-height: 1.7rem;
}