.hb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.hb-card {
    max-width: 450px;
    padding: 20px;
    background-color: #FFE9AE;
    border-radius: 10px;
    margin: 0 10vw 8vh 10vw;
}